@{
    ViewData["Title"] = "Home Page";
    // var userName = ViewData["UserName"] as string ?? "訪客"; 
}

<div class="text-center">
    <h1 class="display-4">後臺管理系統</h1>
    <p></p>
    @* <h1>歡迎, @userName</h1> *@
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //      $.ajax({
    //     url: '/Account/GetCurrentUser', 後端 API
    //     method: 'GET',
    //     success: function(data) {
    //         console.log('目前登入的使用者:', data);
    //         更新前端的歡迎訊息
    //         $('#welcomeMessage').text(`歡迎, ${data.UserName}`);
    //     },
    //     error: function(err) {
    //         console.error('無法獲取使用者資訊:', err);
    //         alert('您尚未登入，請先登入');
    //         跳轉到登入頁面
    //         window.location.href = '/Account/Login';
    //     }
    // });

</script>