/* ===========更改密碼頁===========  */

/* 更改密碼信箱容器 */
.changePasswordEmail-container {
    padding: 16px;
    max-width: 1000px;
    margin: 0 auto;
}

.changePasswordEmail-header ul li button {
    border: none;
}

.changePasswordEmail-card {
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(43, 76, 126, 0.08);
    overflow: hidden;
    border: 1px solid rgba(43, 76, 126, 0.1);
    
}

/* 修改導航標籤樣式 */
.nav-tabs {
    border-bottom: none;
    margin-bottom: 20px;
    padding:10px 0px;
}

.nav.nav-tabs {
    border-bottom: 1px solid #edf2f7;
}

.nav-tabs .nav-link {
    color: black;
    border: none;
}

.nav-tabs .nav-link:hover {
    color: #4da6ff;
    background-color: #f3f4f4b1;
}

.nav-tabs .nav-link.active {
    color: #4da6ff;
    border-bottom: 3px solid #4da6ff;
}

/* 分頁標題 */
.changepassword-container .page-title h2 {
    
    color: #1a202c;
    
}

.changeEmail-container .page-title h2 {
   
    color: #1a202c;
   
}

/* 按鈕樣式 */
.customer-btn {
    color: white;
    background: #4da6ff;
    max-width: 180px;
}

.customer-btn:hover {
    color: white;
    background: #2075c9;
    max-width:  185px;
}

.sendEmail-btn {
    color: white;
    background: #4da6ff;
    max-width: 130px;
}